</main>
 
<footer>
    <nav class="bottom-nav">
        <a href="/">
            <img src="/assets/home.svg" alt="Home">
            Home
        </a>

        <a href="/veldverkenner">
            <img src="/assets/veldverkenner.svg" alt="Veldverkenner">
            Veldverkenner
        </a>

        <a href="/nieuws">
            <img src="/assets/nieuws.svg" alt="Nieuws">
            Nieuws
        </a>

        <a href="/collectie">
            <img src="/assets/collectie.svg" alt="Collectie">
            Collectie
        </a>
    </nav>
 
</footer>
 
</body>

</html>