{% include 'partials/head.liquid' %}

<header class="news-header">
    <a href="/" class="back-button">
        <img src="/assets/back.svg" alt="terug">
        <span>Terug</span>
    </a>
    <h1>Collectie</h1>
</header>

<section class="collectie">

    <div class="collectie-kaart paars">
        <img src="/assets/nabloei.jpg" alt="Na de bloei">

        <h2>Na de bloei</h2>
        <p>
            Bekijk alle digitale kaarten die je hebt gespaard in het bloemenveld 
            en lees de bijbehorende informatie over de bloem of plant terug.
        </p>

        <a href="/collectie/na-de-bloei" class="btn">
            Bekijk alle kaarten
        </a>
    </div>


    <div class="collectie-kaart groen">
        <img src="/assets/inbloei.jpg" alt="In de bloei">

        <h2>In de bloei</h2>
        <p>
            Bekijk alle digitale kaarten die je hebt gespaard in het bloemenveld 
            en lees de bijbehorende informatie over de bloem of plant terug.
        </p>

        <a href="/collectie/in-de-bloei" class="btn">
            Bekijk alle kaarten
        </a>
    </div>

</section>

{% include 'partials/foot.liquid' %}