{% include 'partials/head.liquid' %}

<header class="news-header">
    <a href="/collectie/in-de-bloei" class="back-button">
        <img src="/assets/back.svg" alt="terug">
        <span>Terug</span>
    </a>
    <h1>{{ plant.name }}</h1>
</header>



{% include 'partials/foot.liquid' %}